@import "custom.scss";

.wrapper {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #444e5a;
}

.content {
  margin-left: 260px;
  margin-right: 10px;
  width: calc(100% - 250px);
  text-align: center;
}

.card-sm {
  height: 25vh;
}

.card-lg {
  height: 5000000px;
  background-color: aqua;
}
