$body-bg: #37404a;
$body-color: #aab8c5;
$card-bg: #444e5a;
$modal-content-bg: #444e5a;
$table-border-color: #515c69;
$btn-link-color: #aab8c5;
$btn-link-hover-color: #37404a;
$table-bg: #37404a;

@import "../node_modules/bootstrap/scss/bootstrap";
