// overide defaults
$body-bg: #37404a;
$body-color: #aab8c5;
$card-bg: #444e5a;
$modal-content-bg: #444e5a;
$table-border-color: #515c69;
$btn-link-color: #aab8c5;
$btn-link-hover-color: #37404a;
$table-bg: #37404a;
$nav-link-font-size: 1.5rem;
$nav-link-color: #aab8c5;
$nav-link-hover-color: white;
$form-select-indicator-color: #aab8c5;
$input-group-addon-bg: #37404a;
$pagination-color: #aab8c5;
$pagination-bg: #37404a;
$pagination-border-color: #515c69;
$pagination-active-border-color: #515c69;
$pagination-hover-border-color: #515c69;
$pagination-hover-bg: #444e5a;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "caution": $orange,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
