$body-bg: #37404a;
$body-color: #aab8c5;
$card-bg: #444e5a;
$modal-content-bg: #444e5a;
$table-border-color: #515c69;
$btn-link-color: #aab8c5;
$btn-link-hover-color: #37404a;
$table-bg: #37404a;
$nav-link-font-size: 1.5rem;
$nav-link-color: #aab8c5;
$nav-link-hover-color: white;
$form-select-indicator-color: #aab8c5;
$input-group-addon-bg: #37404a;

@import "../node_modules/bootstrap/scss/bootstrap";
